<!DOCTYPE html>
<html>
    <head>
        <title>
            Character
        </title>
        <link rel="stylesheet" href="/resources/bootstrap">
        <link rel="stylesheet" href="/resources/style">
    </head>
    <body>
        <div style="text-align: center;">
            <div style="margin: 30px;"><p>
                <h1><%= user_role %></h1>
                <h2><%= picture %></h2>
                    <%= description %></p>
            </div>
            <h1>Team : <%= team %></h1>
            <div style="margin: 30px;">
                <h3>Sees:</h3>
                <%if(members.length === 0){%>
                    -
                    <%}%>
                <% for( let i = 0; i < members.length; i++) { %>
                <p> <%= members[i] %></p>
                <% } %>
            </div>
        </div>
<div class="allign-text-center">
     <a type="button" class="btn btn-dark" href='/game/<%=lobbyCode%>'>Back</a>
</div>
       
    </body>
</html>