<!DOCTYPE html>
<html>
    <head>
        <title>
            Character
        </title>
        <link rel="stylesheet" href="/resources/bootstrap">
        <link rel="stylesheet" href="/resources/style">
    </head>
    <body>
        <div style="text-align: center;">
            <div style="margin: 30px;"><p>
                <h1><%= user_role %></h1>
                <h2><%= picture %></h2>
                    <%= description %></p>
            </div>
            <div>
                <h1><%= team %>:</h1>
                <% for( let i = 0; i < members.length; i++) { %>
                <p> <%= members[i] %></p>
                <% } %>
            </div>
        </div>
<div class="allign-text-center">
     <a type="button" class="btn btn-dark" href='/game'>Back</a>
</div>
       
    </body>
</html>